		<div class="header">
			<div class="adjust-icon-wrapper">
				<!-- <img class="adjust-icon" src="/images/adjust.svg" alt=""> -->
				<svg class="adjust-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><defs><style>.cls-1{fill:#fff;stroke:#000;stroke-miterlimit:10;}</style></defs><title>cw_02_Asset 2</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_4" data-name="Layer 4"><line class="cls-1" y1="2.5" x2="19" y2="2.5"/><line class="cls-1" y1="9.5" x2="19" y2="9.5"/><line class="cls-1" y1="16.5" x2="19" y2="16.5"/><circle class="cls-1" cx="4.17" cy="2.5" r="2"/><circle class="cls-1" cx="13.17" cy="9.5" r="2"/><circle class="cls-1" cx="4.17" cy="16.5" r="2"/></g></g></svg>
			</div>
				
<!-- 				<div class="toc-link">
					<div class="toc-wrapper">
						<div><span class="toc-dot"></span><span class="toc-line"></span></div>
						<div><span class="toc-dot"></span><span class="toc-line"></span></div>
						<div><span class="toc-dot"></span><span class="toc-line"></span></div>
					</div>

				</div> -->
			

			<a href="/contents"><div class="adjust-controls">Table Of Contents</div></a>
				
			<!-- <div class="bookmark-section"> -->
				
				<svg id="bookmark-icon" class="bookmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.25 34"><title>bookmark_2</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon points="23.63 32.63 12.13 22.63 0.63 32.63 0.63 0.63 23.63 0.63 23.63 32.63" style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:1.25px"/></g></g></svg>
			<!-- </div> -->


			<h1 class="page-title">Chapt. 0{{page.chapter}}: {{page.title}}</h1>

		</div>