<div id="tooltip" class="tooltip group hide">
<!-- 	<div id="clipboard" class="tool clipboard" data-clipboard-text="that's a bingo!!"><img class="toolimg" src="/images/icon-clipboard.svg" alt=""></div> -->
	<div id="highlight" class="tool highlight"><img class="toolimg" src="/images/highlighter.svg" alt=""></div>
	<!-- <div id="pdf" class="tool pdf"><img class="toolimg" src="/images/pdf.svg" alt=""></div> -->
	<div id="twitter" class="tool twitter"><img class="toolimg" src="/images/twitter.svg" alt=""></div>
	<div id="speech" class="tool speech"><img class="toolimg" src="/images/speech.svg" alt=""></div>
	<img class="arrow-right" src="/images/tooltip-tip.svg" alt="">
</div>	
