<!DOCTYPE html>
<html>
{% include head.html %}
<body id="table-of-contents" class="table-of-contents">
		<div class="header">
			<h1 class="page-title">Table of Contents</h1>
		</div>
		
    <div>
      <div id="container" class="container group hidefocus">
        <div class="main">

         <div class="introduction">
         	<h1 class="chapter-heading">Poetic Computation</h1>
         	<p class="body-text">Poetic Computation: Reader is an online-book by <a href="http://taeyoonchoi.com">Taeyoon Choi</a> about code as a form of poetry and aesthetic and ethical questions associated with code. The book is based on Choi’s lectures at the <a href="http://sfpc.io">School for Poetic Computation</a>, and independent school he co-founded in New York City.  The first two chapters are published on September, 2017 with following chapters to be published over the year. Poetic Computation: Reader presents new possibilities of web browser to enhance accessibility. The book is designed by HAWRAF to enhance accessibility and legibility to readers. Readers can change the design elements and formats to meet their ideal reading experience. Poetic Computation: Reader is edited by Hannah Son, and includes interviews with a select group of scholars and practitioners. </p>
         	<h3 class="sub-title">Written by Taeyoon Choi</h3>
         	<h3 class="sub-title">Edited by Hannah Son</h3>
         	<h3 class="sub-title">Designed by <a href="http://HAWRAF.org">HAWRAF</a></h3>

         	<p class="body-text">Poetic Computation: Reader is a free educational content and the code is published open source <a href="http://github.com/HAWRAF/PoeticComputationReader"> in a project repository</a>. Taeyoon Choi and collaborators do not hold copyright of images contained in this book, outside of the original images created by Choi. If there's a concern about use of any image or citation, please contact taeyoon@sfpc.io</p>

         	<p class="body-text">For updates on the chapter releases, please sign up to Taeyoon Choi's <a href="http://tinyletter.com/tchoi8">mailing list</a>.</a>

         </div>
         <div class="export-highlights-wrapper">         	
         		<p class="export-cta">You can export all of your highlights as a pdf.</p>
		        <a href="/highlights" class="group" style="display: block;">
		        	<div class="btn export-highlights">View</div>
		        </a>
         </div>


          {% assign chapters = site.chapters %}
          {% for chapter in chapters %}
            {% if chapter.page == 1 and chapter.active == true %}

	            <div class="chapter-title-wrapper">
	            	<h1 class="sub-title">Chapt. 0{{ chapter.chapter }}</h1>
	            	<div class="chapter-title-line"></div>
	            	<a href="{{chapter.url}}" >
		            	<h1 class="chapter-heading">{{chapter.title}}</h1>
	            	</a>
	           		<p class="body-text">{{chapter.summary}}</p>
	           		<div class="group">
			            <a href="{{chapter.url}}" class="group nav-link">
				            <div class="btn">Read</div>
			            </a>

<!-- 									<a href="{{chapter.pdf}}" download class="chapter-download">
										<div class="btn">Download</div>
									</a> -->
	           		</div>
	            </div>
						{% elsif chapter.page == 1 and chapter.active == false %}
	            <div class="chapter-title-wrapper inactive">
	            	<h1 class="sub-title">Chapt. 0{{ chapter.chapter }}</h1>
	            	<div class="chapter-title-line"></div>
	            	<h1 class="chapter-heading">{{chapter.title}}</h1>
	            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>

    <div class="lines lines-right" style="">
      {% for chapter in site.chapters%}
        <span data-id="f-{{forloop.index}}" class="line"> </span>
      {% endfor %}
    </div>
  </div>

	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script src="/scripts/storage.js"></script>
  <script>
	  var storage = Storages.localStorage

		$('a.nav-link').click(function(ev) {
			ev.preventDefault();
			storage.set('settings.fromNav', true);

			window.location.href = $(ev.delegateTarget).attr("href")
		})
  </script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-106808749-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>